@model ExampleMvcApp.Models.ViewModels.EmployeeViewModel
@{
    ViewData["Title"] = "Employees";

}
<h1>@ViewData["Title"]</h1>

<form class="form-inline" asp-controller="Home" asp-action="Employees" method="get">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control mr-2" placeholder="Employee Name" name="name" maxlength="101" value="@Model.Name">
        <input type="text" class="form-control mr-2" placeholder="Department Name" name="departmentName" maxlength="50" value="@Model.DepartmentName">
        <input type="text" class="form-control" placeholder="Sub-Department Name" name="subDepartmentName" maxlength="50" value="@Model.SubDepartmentName">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
    <a id="resetbutton" class="link-primary" asp-controller="Home" asp-action="Employees">Reset</a>
</form>
@{ 
    //Order the employees by department name
    var employees = Model.Employees.OrderBy(e => e.SubDepartment.Department.DepartmentName).ToList();
    for (int i = 0; i < employees.Count(); i++)
    {
        //Display Department name if this is the first occurence of the department name in the ordered list
        var employee = employees.ElementAt(i);
        string departmentName = employee.SubDepartment.Department.DepartmentName;
        if (i == employees.FindIndex(e => e.SubDepartment.Department.DepartmentName == departmentName))
        {
            <h2>@departmentName</h2>
        }
        <div class="card" >
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-5">
                        <img class="portrait" src="~/assets/@employee.ProfileImage" />
                        <div id="socialmedia">
                            <a href="@employee.FbprofileLink" class="fa fa-facebook"></a>
                            <a href="@employee.TwitterProfileLink" class="fa fa-twitter"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-sm-7">
                        <h3 class="card-title">@(employee.FirstName + " " + employee.LastName)</h3>
                        <h5 class="card-subtitle text-muted">@(employee.SubDepartment.SubDepartmentName)</h5>
                        <br />
                        @employee.Bio
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
}
@if(Model.Employees.Count == 0)
{
    <span>No employees found</span>
}
